<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a> |
        <a href="/OxyBoost-Fitness/about/">About</a> |
        <a href="/OxyBoost-Fitness/performance-breathing/">Performance Breathing</a> |
        <a href="/OxyBoost-Fitness/exercises/">Exercises</a> |
        <a href="/OxyBoost-Fitness/products/">Products</a>
      </nav>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      <p>© 2025 OxyBoostd </p>
    </footer>
  </body>
</html>
